@using TimeWaster.Models
@{
    Layout = null;
    var currentUser = ViewBag.CurrentUser as User;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width;user-scalable=no;">
    <title>Wasted Time Tracker</title>
  
    <link rel="stylesheet" href="/Content/styles/stylesheets/screen.css">
</head>
<body>
    
    <div class="container">
        <nav>
            @Html.Partial("_Nav")
        </nav>
    
        @if (currentUser != null)
        {
            <div class="messages">
                <p>
                    @currentUser.UserName
                </p>
            </div>
        }
    </div>

    <div class="container">
        @RenderBody()
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        typeof (jQuery) === 'undefined' && document.write("<script src='/Scripts/jquery-2.1.0.min.js'></" + "script>");
    </script>
    @RenderSection("bottomScripts", false)

</body>
</html>