/*-- Font Size --*/
/*-- SUSY grid size --*/
/*-- Media Queries --*/
/* -------------------------------------------------------------------------*/
/* Layout */
/* line 8, ../sass/screen.scss */
.hide {
  display: none;
}

/* line 12, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, C:/Program Files/compass.app.windows.v1.27/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------------------------------------------------------------*/
/* Colors */
/* line 22, ../sass/screen.scss */
body {
  color: #333333;
  background-color: white;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

/* line 31, ../sass/screen.scss */
nav {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 34, ../sass/screen.scss */
.messages {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 37, ../sass/screen.scss */
.timer {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 40, ../sass/screen.scss */
.content {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
